{
   "plugins": [
      "prettier-plugin-tailwindcss",
      "@trivago/prettier-plugin-sort-imports"
   ],
   "tabWidth": 3,
   "semi": true,
   "useTabs": false,
   "singleQuote": true,
   "trailingComma": "all",
   "arrowParens": "always",
   "bracketSpacing": true,
   "endOfLine": "lf",
   "singleAttributePerLine": true,
   "bracketSameLine": false,
   "importOrder": [
      "^@angular/(.*)$",
      "#views/(.*)$",
      "#assets/(.*)$",
      "#models-views/(.*)$",
      "#models/(.*)$",
      "#services/(.*)$",
      "#controllers/(.*)$",
      "#guards/(.*)$",
      "#http-interceptors/(.*)$",
      "#utils/(.*)$",
      "#constants/(.*)$",
      "<THIRD_PARTY_MODULES>",
      "^@spartan/(.*)$",
      "^[./]"
   ],
   "importOrderSeparation": true,
   "importOrderSortSpecifiers": true,
   "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
