<app-header />
<main class="flex w-full flex-col items-center justify-center pt-14">
   <div class="mb-4 flex w-11/12 items-center justify-between">
      <h3 class="text-xl font-semibold">Usuários</h3>
      <app-create-user-modal />
   </div>

   <hlm-table class="w-11/12 bg-white">
      <hlm-trow class="flex w-full justify-between">
         <hlm-th class="w-2 text-start">ID</hlm-th>
         <hlm-th class="w-36 text-start">Nome</hlm-th>
         <hlm-th class="w-36 text-start">E-mail</hlm-th>
         <hlm-th class="w-20 text-start">Tipo</hlm-th>
         <hlm-th class="w-36 text-start">Data de registro</hlm-th>
         <hlm-th>Ações</hlm-th>
      </hlm-trow>

      <ng-container *ngIf="isLoading">
         <hlm-skeleton class="h-14 w-full border-2 shadow-sm" />
         <hlm-skeleton class="h-14 w-full border-2 shadow-sm" />
         <hlm-skeleton class="h-14 w-full border-2 shadow-sm" />
         <hlm-skeleton class="h-14 w-full border-2 shadow-sm" />
         <hlm-skeleton class="h-14 w-full border-2 shadow-sm" />
      </ng-container>

      <app-user-phones-modal [user-id]="userId" />

      <ng-container *ngIf="!isLoading">
         <hlm-trow
            class="flex w-full justify-between"
            *ngFor="let user of users"
         >
            <div
               class="flex w-full cursor-pointer justify-between"
               (click)="handleOpenUserPhonesModal(user.id)"
            >
               <hlm-th class="w-2">{{ user.id }}</hlm-th>
               <hlm-th class="w-36 text-start"
                  >{{ truncateText(user.name, 35) }}</hlm-th
               >
               <hlm-th class="w-36 text-start"
                  >{{ truncateText(user.email, 35) }}</hlm-th
               >
               <hlm-th class="w-20 text-start">
                  {{ user.role === UserRolesEnum.USER ? 'usuário' :
                  'administrador' }}
               </hlm-th>
               <hlm-th class="w-32 text-start">{{ user.created_at }}</hlm-th>
               <hlm-th>
                  <app-update-user-modal [user-data]="user" />
                  <button
                     class="ml-1 cursor-pointer text-primary outline-none"
                     title="Excluir usuário"
                     (click)="deleteUser(user.id, $event)"
                  >
                     <hlm-icon
                        class="flex self-center"
                        size="base"
                        name="lucideTrash2"
                     />
                  </button>
               </hlm-th>
            </div>
         </hlm-trow>
      </ng-container>
      <nav
         hlmPagination
         class="py-4"
      >
         <ul hlmPaginationContent>
            <li
               hlmPaginationItem
               class="cursor-pointer"
               (click)="handleGoToPrevPage()"
            >
               <hlm-pagination-previous />
            </li>
            <li hlmPaginationItem>
               <a hlmPaginationLink>{{ currentPage }}</a>
            </li>

            <li
               hlmPaginationItem
               class="cursor-pointer"
               (click)="handleGoToNextPage()"
            >
               <hlm-pagination-next />
            </li>
         </ul>
      </nav>
   </hlm-table>
</main>
