<app-header />
<main class="flex w-full flex-col items-center justify-center pt-14">
   <div class="mb-4 flex w-11/12 items-center justify-between">
      <h3 class="text-xl font-semibold">Usuários</h3>
      <app-create-user-modal />
   </div>
   <hlm-table class="w-11/12 bg-white">
      <hlm-trow class="flex w-full justify-between">
         <hlm-th>ID</hlm-th>
         <hlm-th>Nome</hlm-th>
         <hlm-th>Tipo</hlm-th>
         <hlm-th>Data de registro</hlm-th>
         <hlm-th>Ações</hlm-th>
      </hlm-trow>
      <hlm-trow
         class="flex w-full justify-between"
         *ngFor="let user of users"
      >
         <hlm-th>{{ user.id }}</hlm-th>
         <hlm-th>{{ user.name }}</hlm-th>
         <hlm-th>
            {{ user.role === UserRolesEnum.USER ? 'usuário' : 'administrador' }}
         </hlm-th>
         <hlm-th>{{ user.created_at }}</hlm-th>
         <hlm-th>
            <div
               class="cursor-pointer text-primary"
               title="Excluir usuário"
               (click)="deleteUser(user.id)"
            >
               <hlm-icon
                  size="base"
                  name="lucideTrash2"
               />
            </div>
         </hlm-th>
      </hlm-trow>
   </hlm-table>

   <nav hlmPagination>
      <ul hlmPaginationContent>
         <li
            hlmPaginationItem
            class="cursor-pointer"
            (click)="handleGoToPrevPage()"
         >
            <hlm-pagination-previous />
         </li>
         <li hlmPaginationItem>
            <a hlmPaginationLink>{{ currentPage }}</a>
         </li>

         <li
            hlmPaginationItem
            class="cursor-pointer"
            (click)="handleGoToNextPage()"
         >
            <hlm-pagination-next />
         </li>
      </ul>
   </nav>
</main>
