<app-header />
<main class="flex w-full flex-col items-center justify-center pt-14">
   <h3 class="mb-4 w-11/12 text-start text-xl font-semibold">Usuários</h3>

   <hlm-table class="w-11/12 bg-white">
      <hlm-trow class="flex w-full justify-between">
         <hlm-th>ID</hlm-th>
         <hlm-th>Nome</hlm-th>
         <hlm-th>Tipo</hlm-th>
         <hlm-th>Data de registro</hlm-th>
      </hlm-trow>
      <hlm-trow
         class="flex w-full justify-between"
         *ngFor="let user of users">
         <hlm-th>{{ user.id }}</hlm-th>
         <hlm-th>{{ user.name }}</hlm-th>
         <hlm-th>
            {{ user.role === UserRolesEnum.USER ? 'usuário' : 'administrador' }}
         </hlm-th>
         <hlm-th>{{ user.created_at }}</hlm-th>
      </hlm-trow>
   </hlm-table>
</main>
